ace-db/src/main/resources/xsd/Account.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.quikj.com/ace/db/core/webtalk/vo" targetNamespace="http://www.quikj.com/ace/db/core/webtalk/vo"
	elementFormDefault="qualified">

	<xs:element name="Account" type="Account" />

	<xs:complexType name="Account">
		<xs:sequence>
			<xs:element name="UserName" type="xs:string" />
			<xs:element name="Password" type="xs:string" minOccurs="0" />
			<xs:element name="AdditionalInfo" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
