ace-db/src/main/resources/xsd/CannedMessage.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.quikj.com/ace/db/core/webtalk/vo" targetNamespace="http://www.quikj.com/ace/db/core/webtalk/vo"
	elementFormDefault="qualified">

	<xs:element name="cannedMessage" type="CannedMessage" />

	<xs:complexType name="CannedMessage">
		<xs:sequence>
			<xs:element name="id" type="xs:long" minOccurs="0" />
			<xs:element name="groupName" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" />			
			<xs:element name="message" type="xs:string" />
		</xs:sequence>
	</xs:complexType>	
	
</xs:schema>
