ace-db/src/main/resources/xsd/Log.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.quikj.com/ace/db/core/webtalk/vo" targetNamespace="http://www.quikj.com/ace/db/core/webtalk/vo"
	elementFormDefault="qualified">

	<xs:element name="Log" type="Log" />

	<xs:complexType name="Log">
		<xs:sequence>
			<xs:element name="Message" type="xs:string" />
			<xs:element name="Timestamp" type="xs:dateTime"/>
			<xs:element name="Severity" type="xs:string" />
			<xs:element name="Process" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
