ace-db/src/main/resources/xsd/TrafficStatistics.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.quikj.com/ace/db/core/webtalk/vo" targetNamespace="http://www.quikj.com/ace/db/core/webtalk/vo"
	elementFormDefault="qualified">

	<xs:element name="trafficStatistics" type="TrafficStatistics" />

	<xs:complexType name="TrafficStatistics">
		<xs:sequence>
			<xs:element name="timestamp" type="xs:dateTime" />
			<xs:element name="numActiveOperators" type="xs:float" />
			<xs:element name="numUsersInQueue" type="xs:float" />
			<xs:element name="numConversations" type="xs:float" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>