ace-db/src/main/resources/xsd/VisitorStatistics.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.quikj.com/ace/db/core/webtalk/vo" targetNamespace="http://www.quikj.com/ace/db/core/webtalk/vo"
	elementFormDefault="qualified">

	<xs:element name="VisitorStatistics" type="VisitorStatistics" />

	<xs:complexType name="VisitorStatistics">
		<xs:sequence>
			<xs:element name="LoginTime" type="xs:dateTime" />
			<xs:element name="FullName" type="xs:string" />
			<xs:element name="Email" type="xs:string" minOccurs="0" />
			<xs:element name="AdditionalInfo" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>